.contactItem {
  margin-left: 20px;
}

.contactButton {
  margin-left: 10px;
  background: #ff4742;
  border: 1px solid #ff4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  padding: 2px 4px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.contactButton:hover,
.contactButton:active {
  background-color: initial;
  background-position: 0 0;
  color: #ff4742;
}

.contactButton:active {
  opacity: 0.5;
}
